@keyframes rotatingRight {
    0% {
        rotate: 0deg;
    }

    50%{
        border-radius: 50%;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes rotatingLeft {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -360deg;
    }
}

@keyframes wiggle {
    from {
        scale: 1;
        color: rgb(171, 171, 171);
    }
    to {
        scale: 1.1;
        color: black;
    }
}

@keyframes motion {
    0% {
        scale: 1;
        transform: rotate(-5deg);
    }
    25% {
        scale: 1;
        transform: rotate(0deg);
    }
    50% {
        scale: 1.1;
        transform: rotate(5deg);
    }
    75% {
        scale: 1;
        transform: rotate(0deg);
    }
    100% {
        scale: 1;
        transform: rotate(-5deg);
    }
}

@keyframes bottom {
    from {
        opacity: 0.05;
        transform: translateY(10px);
    }
    to {
        opacity: 0.1;
        border-bottom: 5px solid black;
        transform: translateY(20px);
    }
}

@keyframes move {
    from {
        opacity: 0.05;
        transform: translateY(10px);
    }
    to {
        opacity: 0.1;
        transform: translateY(20px);
    }
}

@keyframes highlight {
    0%{
        color: black;
    }
    25%{
        color: black;
    }
    50%{
        color: #5f5f5f;
    }
    100%{
        color: #ff5500;
    }  
}